viikkotehtava1/build
viikkotehtava1/*.user

viikkotehtava2_game/build
viikkotehtava2_game/*.user

viikkotehtava3/build
viikkotehtava3/*.user

viikkotehtava4/build
viikkotehtava4/*.user

viikkotehtava5/build
viikkotehtava5/*.user


